table {
  width: 100%;
  margin: 20px 0px;
  box-shadow: none;
}

.contenedor-principal{
  width: 50%;
  margin: auto;
}

table th{
  color: #699BF7;
  padding: 0px;
}

table td{
  color: #5f5f5f;
  border: solid #e0e0e0 1px;
  padding: 0px;
}


.mat-column-id_Producto{
  text-align: center;
  width: 10%;
}

.mat-column-precio{
  text-align: center;
  width: 20%;
}

.mat-column-cantidad{
  text-align: center;
  width: 20%;
}


.mat-column-Acciones{
  text-align: center;
  width: 15%;
}




