input{
  border-radius: 0px;
  margin: 10px;
}

.header h2{
  color: #fff;
  margin: 10px;
  margin-top: 30px;
}

.principal{
  margin-left: 50px;
}

.btn-success{
  margin: 10px;
}

input{
  color: gray
}
