table {
  width: 100%;
  margin: 20px 0px;
  box-shadow: none;
}

.contenedor-principal{
  width: 90%;
  margin: auto;
}

table th{
  color: #699BF7;
  padding: 0px;
}

table td{
  color: #5f5f5f;
  border: solid #e0e0e0 1px;
  padding: 0px;
}


.mat-column-id{
  text-align: center;
  width: 10%;
}

.mat-column-nombre{
  text-align: center;
  width: 20%;
}


.mat-column-descripcion{
  text-align: center;
  width: 40%;
}

.mat-column-precio{
  text-align: center;
  width: 15%;
}

.mat-column-Acciones{
  text-align: center;
  width: 15%;
}

.btn-danger{
  margin: 5px;
}
.btn-warning{
  margin: 5px;
}




