img{
  height: 180px;
  object-fit: cover;
}

.badges{
  text-align: right;
}

div.badges.mb-1{
  margin: 0px !important;
}

.badges span{
  color: #5f5f5f;
}

.card{
 color: #5f5f5f;
 border-radius: 0px;
}

.btn-success{
  width: 100%;
}

h3{
  margin: 0;
}

.cantidad{
  width: 100px;
}

.modal-content{
  border-radius: 0px;
  border: 0px;
}

.modal-title{
  color: #699BF7;
}


.filtrar-label{
  font-size: 15px;
  color: #fff;
}

.filtro{
  min-width: 150px;
  font-size: 14px;
  color: #5f5f5f;
}

.first-row{
  margin-bottom: 20px;
}

.number-cantidad{
  width: 30%;
  margin-bottom:10px;
  margin-left: 20px;
}

