


<section id="productos" class="mt-4">

  <div class="container">
    <form [formGroup]="dataForm">
      <div class="row first-row">
        <div class="col">
          <mat-label class="filtrar-label"> Filtrar por:  </mat-label>
          <select matInput formControlName="id_Categoria" class="filtro"   (change)="filtrar($event)">
            <option [value]="-1" selected> Todos </option>
            <option *ngFor="let element of listCategorias; let i = index;" [value]="element.id_Categoria" > {{element.nombre}}</option>
        </select>
        </div>
      </div>
    </form>

      <div class="row">

        <div class="col-12  col-sm-12  col-md-3"  *ngFor="let character of listCharacters">
          <div class="card mb-4" >
            <img src="../../assets/imagenes/producto-sin-imagen.png" class="card-img-top" alt="...">
            <div class="card-body">
              <div class="badges mb-1">
                <span class="badge"> <h3> ${{character.precio}} </h3> </span>
              </div>
              <h2 class="card-title mb-1"> {{character.nombre_Producto}} </h2>
              <p class="card-text">{{character.descripcion}} </p>
              <form [formGroup]="cantidadForm">
              <label> Cantidad </label>
              <input type="number" placeholder="¿Cuántos comprará?"  formControlName="cantidad" class="number-cantidad">
              <button type="button" class="btn btn-success" (click)="agregarAlCarrito(character)"> <i class="fa-solid fa-cart-shopping"></i>  Agregar al carrito </button>
              </form>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>
