


<section id="productos" class="mt-4">

  <div class="container">

      <div class="row first-row">
        <div class="col">
          <mat-label class="filtrar-label"> Filtrar por:  </mat-label>
          <select matInput formControlName="id_Categoria" class="filtro"  (change)="filtrar($event)">
            <option> Todos </option>
            <option *ngFor="let element of listCategorias; let i = index;" [value]="element.id_Categoria" > {{element.nombre}}</option>
        </select>
        </div>
      </div>


      <div class="row">

        <div class="col-12  col-sm-12  col-md-3"  *ngFor="let character of listCharacters">
          <div class="card mb-4" >
            <img src="../../assets/imagenes/producto-sin-imagen.png" class="card-img-top" alt="...">
            <div class="card-body">
              <div class="badges mb-1">
                <span class="badge"> <h3> ${{character.precio}} </h3> </span>
              </div>
              <h2 class="card-title mb-1"> {{character.nombre}} </h2>
              <p class="card-text">{{character.descripcion}} </p>
              <button type="button" class="btn btn-success" (click)="agregarAlCarrito(character)"> Agregar al carrito </button>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>


<!-- Modal Cantidad

<div class="modal fade" id="cantidadModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel"> Agregar al carrito </h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body">


      <div class="container">
        <br>
            <div class="row">
                <div class="col">
                  {{character.nombre}}
                </div>
            </div>
        <button type="button" class="btn btn-secondary me-3" data-bs-dismiss="modal"> Cancelar</button>
        <button type="button" class="btn btn-success cantidad" data-bs-dismiss="modal" mat-flat-button > Guardar </button>
      </div>


      </div>

    </div>
  </div>
</div> -->


