
/* @import "~bootstrap/dist/css/bootstrap.css"; */

html {
 height: 100vh;
}

body {
  margin: 0;
  font-family: 'Alegreya Sans', sans-serif;

  background-color: #fff;
  position: relative;
  min-height: 100vh;
  padding-bottom: 161px;
  background-color: #699BF7;
}


main{
  margin-bottom: 220px;
}


/* Botones Bootstrap  */
.btn-success{
  background-color: #33CF95;
  border-radius: 0px;
  border: 0px;
}


.btn-warning{
  background-color: #E5A500;
  border-radius: 0px;
  border: 0px;
  color: #fff;
}

.btn-danger{
  background-color: #F05E47;
  border-radius: 0px;
  border: 0px;
  color: #fff;
}


.btn-secondary{
  background-color: #756F7B;
  border-radius: 0px;
  border: 0px;
  color: #fff;
}



@media (hover: hover){
  .btn-success:hover{
    background-color: #3BE8A8;
  }
  .btn-warning{
    background-color: #FFB307;

  }
  .btn-danger{
    background-color: #FD674E;
  }
  .btn-secondary{
    background-color: #73707A;

  }
}
