
<div class="modal fade" id="newModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel"> Datos del producto </h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body">
      <!-- Contenido -->

      <div class="container">
        <br>
        <form [formGroup]="productosForm">
            <div class="row">
                <div class="col">
                    <input matInput placeholder="Ingrese el nombre del producto" formControlName="nombre" required class="form-control">
                </div>
            </div>
            <div class="row">
              <div class="col">
                  <textarea  matInput placeholder="Agregue una descripción" formControlName="descripcion" required class="form-control">
                  </textarea>
              </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-label> Categoría </mat-label>
              <select matInput formControlName="id_Categoria">
                  <option *ngFor="let element of listCategorias; let i = index" [value]="element.id_Categoria">{{element.nombre}}</option>
            </select>
            </div>
          </div>


          <div class="row">
            <div class="col">
                <input type="number" matInput placeholder="Cantidad disponible" formControlName="cantidadDisponible" required class="form-control">
            </div>

            <div class="col">
              <input matInput placeholder="¿Cuál es su precio? " formControlName="precio" required class="form-control">
            </div>
          </div>
        <button type="button" class="btn btn-secondary me-3" data-bs-dismiss="modal"> Cancelar</button>
        <button type="button" class="btn btn-success" data-bs-dismiss="modal" mat-flat-button  (click)="guardar()"> Guardar </button>
        </form>
      </div>

      <!-- /Contenido -->
      </div>

    </div>
  </div>
</div>
